<h3>
    {{leyenda}} - {{progreso}}
</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend" id="button-addon3">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5)">
            <i class="mdi mdi-plus"></i>
        </button>
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)">
                <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <input #txtProgress type="number" class="form-control" aria-describedby="button-addon3" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChange( $event )" min="1" max="100 ">
</div>